* {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
button {
  border: none;
}
.sedan-container {
  height: 60vh;
  background-color: hsl(31, 77%, 52%);
}
.sedan-container button {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
}
.sedan-container button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
}
.suv-container {
  background-color: hsl(184, 100%, 22%);
  height: 60vh;
}
.suv-container button {
  color: hsl(184, 100%, 22%);
  background-color: hsl(0, 0%, 95%);
}
.suv-container button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
}
.luxury-container {
  background-color: hsl(179, 100%, 13%);
  height: 60vh;
}
.luxury-container button {
  color: hsl(179, 100%, 13%);
  background-color: hsl(0, 0%, 95%);
}
.luxury-container button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
}
@media (min-width:300px) and (max-width:768px) {
  .parent-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
  }
  .sedan-container,.suv-container,.luxury-container{
    width: 90%;
    height: 90%;
    padding: 5% 5%;
  }
  .sedan-container{
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .luxury-container{
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .logo img{
    height: 2rem;
  }
  .heading{
    font-size: 2.25rem;
    height: 5%;
  }
  .description p{
    height: 10%;
    font-size: 1.5rem;
    padding: 5% 1%;
  }
  .btn-div {
    text-align: left;
    margin: 0% 0%;
    height: 5vh;
  }
  .learn-more-btn {
    border-radius: 2rem;
    padding: 2% 5%;
  }
}
/* @media (min-width:426px) and(max-width:800px){
  .description p{
    font-size: 5rem;
  }
} */

@media (min-width:768px) and (max-width:1005px){
  .parent-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
  }
  .sedan-container,.suv-container,.luxury-container{
    width: 90%;
    height: 90%;
    padding: 5% 5%;
  }
  .sedan-container{
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .luxury-container{
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .logo img{
    height: 4rem;
  }
  .heading{
    font-size: 3.25rem;
    height: 5%;
  }
  .description p{
    height: 10%;
    font-size: 1.75rem;
    padding: 5% 1%;
  }
  .btn-div {
    text-align: left;
    margin: 0% 0%;
    height: 5vh;
  }
  .learn-more-btn {
    border-radius: 2rem;
    padding: 2% 5%;
  }
}
@media (min-width: 1006px) {
  .parent-container {
    display: flex;
    flex-direction: row;
    margin: 10% 5%;
    height: 70vh;
    overflow: auto;
  }
  .sedan-container,.suv-container,.luxury-container{
    height: 90%;
  }
  .logo {
    margin: 8% 15%;
    height: 5vh;
  }
  .heading {
    font-size: 2.5rem;
    text-align: left;
    margin: 5% 15%;
    height: 5vh;
  }
  .description {
    height: 25vh;
  }
  .description p {
    display: inline-block;
    margin: 2% 15% 5%;
    font-size: 1.35rem;
    line-height: 1.75rem;
    word-spacing: 0.25rem;
  }
  .btn-div {
    text-align: left;
    margin: 10% 15% ;
    height: 5vh;
  }
  .learn-more-btn {
    border-radius: 2rem;
    padding: 5% 12%;
  }
  .sedan-container{
    border-radius: 1rem 0rem 0rem 1rem;
  }
  .luxury-container{
    border-radius: 0rem 1rem 1rem 0rem;
  }
}
@media (height: 1366px) and (width:1024px){
  .description p{
    font-size: 1.65rem;
  }
  .btn-div{
    height: 5vh;
    position: relative;
    bottom: -18%;
  }
}
